html{
    background-color: black;
}
h1{
    text-transform: uppercase;  
    font-size: 3rem;
}
div{
    margin-top: 50px;
    width: 50%;
    margin-left: 25%;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}
#nouran{
    color: white;
    margin-left: 85%;
    margin-top: 90%;

}
img{
    border: 5px solid white; 
    width: 100%;
}

